.side-navbar {
	background-color: rgba(52, 58, 64, .5);
	color: white;
}

.nav-item:hover {
	cursor: pointer;
	background-color: grey;
}


body {
	background-color: black;
}

.md-display {
	color: whitesmoke;
}

.side-actions {
	background-color: rgba(52, 58, 64, .5);
	color: white;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.action-item {
	border: 1px solid rgba(52, 58, 64, .5);
}

.action-item:hover {
	cursor: pointer;
}

.selected-note {
	background-color: grey;
}

pre {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 4px;
	
}

pre:hover {
	cursor: pointer;
}